.main {
  position: relative;
}

.avatar_wrapper {
  position: absolute;
  transform: translateY(-4px);
}

.inputfield {
  padding-left: 32px;
  padding-right: 64px;
  // align-items: center;
  flex-grow: 1;
  gap: 8px;
}

.media {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-20%);
  gap: 4px;
  display: flex;
  align-items: center;
}

.options_container {
  display: flex;
  justify-content: flex-end;
}
