.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > :last-child {
    font-size: 12px;
  }
}
